# Ignore datasets (too large for GitHub)
datasets/
*/datasets/
**/datasets/

# Ignore all model checkpoints
*.h5
*.keras
*.pkl
*.npy

# BUT allow production models in /models folder
!models/*.h5
!models/*.keras
!models/*.json
!models/*.pkl


# Ignore temporary files
__pycache__/
*.tmp
*.log
*.DS_Store

# Ignore notebooks checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.venv
